<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated program -->
      <package
            uri="org.eclipse.mita.program"
            class="org.eclipse.mita.program.ProgramPackage"
            genModel="model/program.xcore"/>
   </extension>

</plugin>
