<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated types -->
      <package
            uri="org.eclipse.mita.types"
            class="org.eclipse.mita.types.TypesPackage"
            genModel="model/types.xcore"/>
   </extension>

</plugin>
