<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated platforms -->
      <package
            uri="org.eclipse.mita.platform"
            class="org.eclipse.mita.platform.PlatformPackage"
            genModel="model/platforms.xcore"/>
   </extension>

</plugin>
